<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Bán <%= coin %> cho đại lý <%=
                                                            agency.name %>
                                                </h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>5</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<section id="coin-info" class="pt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            3. Chọn ngân hàng của bạn
                        </h5>
                    </div>
                    <div class="card-body border-0 mini-col">
                        <div class="col-12">
                            <div class="select-bank bg-white rounded " style="">
                                <form action="getAccount" method="POST">
                                    <div class="form-group">
                                        <label for="" class="font-weight-500 d-block">
                                            Ngân hàng của bạn
                                        </label>
                                        <div class="dropdown bootstrap-select form-control none">
                                            <select class="form-control selectpicker" tabindex="-98"
                                                id="select_bank">
                                                <% listBank.forEach((value, index)=> { %>
                                                    <option value="<%= value.code %>">
                                                        <%= value.name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="font-weight-500 d-block">
                                            Số tài khoản
                                        </label>
                                        <div class="find-box">
                                            <input type="number" class="form-control" placeholder="Nhập số tài khoản..."
                                                id="account_number">
                                            <span id="address_error"></span>
                                            <div id="spinner" class="spinner-border text-secondary spinner-border-sm d-none" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <label for="" class="font-weight-500 d-block">
                                            Tên chủ tài khoản
                                        </label>
                                        <input class="form-control" type="text" readonly="readonly" id="address_name">
                                        <small class="form-text text-muted">Lấy tự động theo số tài khoản bên
                                            trên</small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer border-0">
                        <!--<button class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </button>
                        <button class="btn btn-primary float-right">
                             Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </button>-->
                        <a href="/transaction/sell?step=2&coin=<%=coin%>" class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </a>
                        <a href="/transaction/sell?step=4&coin=<%=coin%>" id="sell_continue" class="btn btn-primary float-right">
                            Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // list bank
    var listBank = [
        { "code": "970454", "name": "Ngân hàng TMCP Bản Việt (VIETCAPITAL)" },
        { "code": "970452", "name": "Ngân hàng TMCP Kiên Long (KIENLONGBANK)" },
        { "code": "970400", "name": "Ngân hàng TMCP Sài Gòn Công Thương (SAIGONBANK)" },
        { "code": "970430", "name": "Ngân hàng TMCP Xăng Dầu Petrolimex (PG BANK)" },
        { "code": "970431", "name": "Ngân hàng TMCP xuất nhập khẩu Việt Nam (EXIMBANK)" },
        { "code": "970455", "name": "Ngân hàng Công nghiệp Hàn Quốc (IBK)" },
        { "code": "970421", "name": "Ngân hàng Liên Doanh Việt Nga (VRB)" },
        { "code": "970405", "name": "Ngân hàng NN và PTNN Việt Nam (AGRIBANK)" },
        { "code": "970408", "name": "Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu (GPB)" },
        { "code": "970416", "name": "Ngân hàng TMCP Á Châu (ACB)" },
        { "code": "970425", "name": "Ngân hàng TMCP An Bình (ABBANK)" },
        { "code": "970438", "name": "Ngân hàng TMCP Bảo Việt (BVB)" },
        { "code": "970449", "name": "Ngân hàng TMCP Bưu Điện Liên Việt (LPB)" },
        { "code": "970415", "name": "Ngân hàng TMCP Công Thương Việt Nam (VIETINBANK)" },
        { "code": "970412", "name": "Ngân hàng TMCP Đại Chúng Việt Nam (PVCOMBANK)" },
        { "code": "970414", "name": "Ngân hàng TMCP Đại Dương (OCEANBANK)" },
        { "code": "970418", "name": "Ngân hàng TMCP Đầu tư và Phát triển Việt Nam (BIDV)" },
        { "code": "970406", "name": "Ngân hàng TMCP Đông Á (DONGABANK)" },
        { "code": "970440", "name": "Ngân hàng TMCP Đông Nam Á (SEABANK)" },
        { "code": "970426", "name": "Ngân hàng TMCP Hàng Hải Việt Nam (MSB)" },
        { "code": "970407", "name": "Ngân hàng TMCP Kỹ thương Việt Nam (TECHCOMBANK)" },
        { "code": "970428", "name": "Ngân hàng TMCP Nam Á (NAMABANK)" },
        { "code": "970436", "name": "Ngân hàng TMCP Ngoại Thương Việt Nam (VIETCOMBANK)" },
        { "code": "970437", "name": "Ngân hàng TMCP Phát Triển Thành Phố Hồ Chí Minh (HDB)" },
        { "code": "970448", "name": "Ngân hàng TMCP Phương Đông (OCB)" },
        { "code": "970422", "name": "Ngân hàng TMCP Quân Đội (MB)" },
        { "code": "970419", "name": "Ngân hàng TMCP Quốc Dân (NCB)" },
        { "code": "970441", "name": "Ngân hàng TMCP Quốc Tế (VIB)" },
        { "code": "970429", "name": "Ngân hàng TMCP Sài Gòn (SCB)" },
        { "code": "970443", "name": "Ngân hàng TMCP Sài Gòn - Hà Nội (SHB)" },
        { "code": "970403", "name": "Ngân hàng TMCP Sài Gòn Thương Tín (SACOMBANK)" },
        { "code": "970423", "name": "Ngân hàng TMCP Tiên Phong (TPBANK)" },
        { "code": "970427", "name": "Ngân hàng TMCP Việt Á (VAB)" },
        { "code": "970432", "name": "Ngân hàng TMCP Việt Nam Thịnh Vương (VPBANK)" },
        { "code": "970433", "name": "Ngân hàng TMCP Việt Nam Thương Tín (VIETBANK)" },
        { "code": "970434", "name": "Ngân hàng TNHH Indovina (INDOVINA)" },
        { "code": "422589", "name": "Ngân hàng TNHH MTV CIMB Việt Nam (CIMB)" },
        { "code": "970442", "name": "Ngân hàng TNHH MTV Hongleong Việt Nam (HONGLEONG)" },
        { "code": "970439", "name": "Ngân hàng TNHH MTV Public Việt Nam (PBVN)" },
        { "code": "970424", "name": "Ngân hàng TNHH MTV Shinhan Việt Nam (SHBVN)" },
        { "code": "970458", "name": "Ngân hàng TNHH MTV United Overseas Bank (UOB)" },

        { "code": "970457", "name": "Ngân hàng Wooribank (WOORIBANK)" }
    ];


    
    var user_address = document.getElementById("account_number");
    var sellContinue = document.getElementById("sell_continue")
    var spinner = document.getElementById("spinner");
    var postData;

    async function getAccount() {
        var dataPost = JSON.parse(localStorage.getItem('postData'));
        spinner.classList.remove("d-none");
        $.ajax({
            url: `https://login.acwallet.io/api/v1/getBankAccount?accountNumber=${dataPost.accountNumber}&bankName=${dataPost.bankName}`,
            type: "GET",
            // mode: 'no-cors',
            headers: { 'Content-Type': 'application/json' },
            success: function (response) {
                var bankInfo = JSON.parse(response);
                document.getElementById('address_name').value = bankInfo.accountName;
                BankSaved = {
                    name: bankInfo.accountName,
                    bankCode: bankInfo.bankName,
                    number: bankInfo.accountNumber
                }
                localStorage.setItem('accountInfo', response);
                sellContinue.classList.remove('disabled');
                spinner.classList.add("d-none");
                return;
            },
            error: function (error) {
                console.log(error);
                var respError = JSON.parse(error.responseText);
                toastr_error(respError.description, "");
                spinner.classList.add("d-none");
                return;
            }
        })
    }

    sellContinue.classList.add('disabled');

    user_address.addEventListener('input', function () {
        sellContinue.classList.add('disabled');
        document.getElementById('address_name').value = "";
        return;
    });

    user_address.addEventListener('blur', function () {
        if (this.value.length <= 6) {
            toastr_error("Số tài khoản chưa hợp lệ");
            sellContinue.classList.add('disabled');
            return;
        }
        var accountNumber = this.value;
        postData = {
            bankName: codeBank,
            accountNumber: accountNumber,
        }
        localStorage.setItem('postData', JSON.stringify(postData));
        BankSaved.number = accountNumber;
        BankSaved.bank = ""
        getAccount();
        return;
    });
    
    var e = document.getElementById("select_bank");
    var codeBank = e.value;
    var BankSaved = {}

    e.addEventListener('change', function () {
        codeBank = this.value;
        document.getElementById('address_name').value = "";
        let bankName = listBank.find(value => {
            return value.code == codeBank;
        })

        BankSaved.bankCode = codeBank;
        BankSaved.bank = bankName.name;

        localStorage.setItem('bankData', JSON.stringify(BankSaved));
        sellContinue.classList.add('disabled');
        user_address.value = "";
        return;
    });
</script>
