<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Mua <%= coin %> từ đại lý <%= agency.name %>
                                                </h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>5</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<section id="coin-info" class="pt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            4. Thông tin liên hệ của bạn
                        </h5>
                    </div>

                    <div class="card-body border-0 mini-col">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input is-member" id="customCheck" onchange="valueChanged()">
                                        <label class="custom-control-label" for="customCheck">
                                            Là thành viên trên ACWallet
                                        </label>
                                    </div>
                                    <div class="form-group mini-col mt-2 uid-member" style="display:none;">
                                        <input type="text" class="form-control" value="" id="accountId">
                                        <small class="form-text text-muted">Nhập UID tài khoản ACWallet</small>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="" class="font-weight-500 d-block">
                                        Họ và Tên:
                                    </label>
                                    <input type="text" class="form-control" value="" placeholder="Nguyễn Văn A" id="buyerName">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="" class="font-weight-500 d-block">
                                        Email
                                    </label>
                                    <input type="email" class="form-control" value="" placeholder="biso.vn@gmail.com" id="email">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block">
                                        Số điện thoại
                                    </label>
                                    <input type="number" class="form-control" id="phone">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block">
                                        Zalo
                                    </label>
                                    <input type="number" class="form-control" id="zalo">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block">
                                        Telegram
                                    </label>
                                    <input type="number" class="form-control" id="telegram">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block" id="skype">
                                        Skype
                                    </label>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block">
                                        Viber
                                    </label>
                                    <input type="number" class="form-control" id="viber">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer border-0">
                        <!--<button class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </button>
                        <button class="btn btn-primary float-right">
                             <i class="las la-arrow-right"></i>
                            Tiếp tục
                        </button>-->
                        <a href="/transaction/sell?step=3&coin=<%=coin%>" class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </a>
                        <a href="#" class="btn btn-primary float-right" data-toggle="modal" data-target="#MdlSell" id="orderSoft">
                            Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </a>
                        <!-- Popup Buy -->
                        <div class="modal fade" id="MdlSell" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận bán <%= coin %>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <div class="col-12 mb-2">
                                                <span class="font-weight-500">Số lượng bán:</span>
                                                <span class="font-weight-bold text-primary" id="coinSell"></span>
                                            </div>
                                            <div class="col-12 fs-075 text-secondary mb-4">
                                                <span class="ml-1 mr-1">
                                                    Giá bán: <span class="font-weight-bold text-danger">
                                                        <%= Intl.NumberFormat().format(rate) %>
                                                            VND
                                                    </span>
                                                </span>
                                                <!--<span class="ml-1 mr-1">
                                                    Phí: <span class="font-weight-bold text-warning">230,384 VND</span>
                                                </span>-->
                                            </div>
                                            <div class="text-center fs-110 font-weight-bold mb-4">
                                                Số tiền bạn nhận: <span class="font-weight-bold text-success"
                                                    id="receive_amount">48,315,000
                                                    VND</span>
                                            </div>
                                            <div class=" mb-3 d-inline-block">
                                                <div class="align-items-center mb-1">
                                                    <span class="bank-title">Ngân hàng của bạn:</span>
                                                    <span class="font-weight-bold" id="bank_name_receive"></span>
                                                </div>
                                                <div class="align-items-center mb-1">
                                                    <span class="bank-title">Số tài khoản:</span>
                                                    <span class="font-weight-bold" id="account_address"></span>
                                                </div>
                                                <div class="align-items-center mb-1">
                                                    <span class="bank-title">Tên chủ tài khoản:</span>
                                                    <span class="font-weight-bold" id="account_name"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            <i class="las la-times-circle"></i>
                                            Bỏ qua
                                        </button>                                 
                                        <button id="create_sell_order" class="btn btn-primary">
                                            <div id="confirm-spinner" class="spinner-border text-secondary spinner-border-sm d-none" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <i class="las la-check-circle"></i>
                                            Xác nhận
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    async function createOrder() {
        $("#MdlBuy button").attr('disabled',true);
        document.querySelector('#confirm-spinner').classList.remove('d-none');

        fetch('https://login.acwallet.io/api/v1/create-order', {
            method: 'POST',
            body:    JSON.stringify(retrievedObjectData),
            headers: { 'Content-Type': 'application/json' },
        })
        .then(response =>  {
            console.log(response);
            return response.json();
        }).then(data => {
            localStorage.setItem('fullData', JSON.stringify(data));
            window.location.href = '/transaction/buy?step=5&coin=<%= coin %>';
            return;
        });
    }

    // // set information for order
    // document.querySelector('#order_value_coin').innerHTML = Intl.NumberFormat().format(parseFloat(retrievedObject.quantity)) + ' <%= coin %>';
    // document.querySelector('#sum_price_value').innerHTML = Intl.NumberFormat().format(parseFloat(retrievedObject.quantity) * parseFloat('<%= rate %>'));
    // document.querySelector('#address_receive').innerHTML = retrievedObject.receiveAddress;

    // get information in input fields
    buyerNameInput = document.getElementById("buyerName")
    email = document.getElementById("email")
    phone = document.getElementById("phone")
    zalo = document.getElementById("zalo")
    telegram = document.getElementById("telegram")
    sky = document.getElementById("skype")
    viber = document.getElementById("viber")

    var contact = {
        email: "",
        phone: "",
        zalo: "",
        telegram: "",
        sky: "",
        viber: "",
    };

    // var allDataOrder = {
    //     contact: contact,
    //     buyerName: "",
    //     memberAc: false,
    //     accId: "",
    // }

    var failedEmail = true
    var failedPhone = true

    function checkError() {
        if(failedEmail || failedPhone) {
            document.querySelector("#orderSoft").classList.add('disabled');
        } else {
            document.querySelector("#orderSoft").classList.remove('disabled');
            toastr.success("Dữ liệu hợp lệ", "");
            return;
        }
    }

    document.querySelector("#orderSoft").classList.add('disabled')

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(!regex.test(email)) {
           return false;
        } else {
           return true;
        }
    }

    buyerNameInput.addEventListener('change', function() {
        retrievedObjectData.buyerName = this.value;
    });

    email.addEventListener('change', function() {
        if(!isEmail(this.value)) {
            toastr_error('Email không hợp lệ', '');
            return;
        } else {
            contact.email = this.value;
        }
        failedEmail = false;
        checkError()
    });

    phone.addEventListener('change', function() {
        if(this.value.length != 10) {
            toastr.error('Số điện thoại không đúng', '')
            return;
        } else {
            contact.phone = this.value;
        }
        failedPhone = false;
        checkError()
    });

    zalo.addEventListener('change', function() {
        contact.zalo = this.value;
    });

    telegram.addEventListener('change', function() {
        contact.telegram = this.value;
    });
    
    sky.addEventListener('change', function() {
        contact.sky = this.value;
    });

    viber.addEventListener('change', function() {
        contact.viber = this.value;
    });

    var retrievedObjectData = JSON.parse(localStorage.getItem('data'));

    accountId = document.getElementById("accountId")

    function valueChanged() {
        if ($('.is-member').is(":checked")) {
            $(".uid-member").show();
            retrievedObjectData.memberAc = true;
            accountId.addEventListener('change', function() {
                retrievedObjectData.accId = this.value;
            });
        } else {
            $(".uid-member").hide();
            retrievedObjectData.memberAc = false
            retrievedObjectData.accId = ""
        }
    }

    document.querySelector("#orderSoft").addEventListener("click", function(e) {
        retrievedObjectData.contact = JSON.stringify(contact);
        console.log(retrievedObjectData)
    }, false)

    var coin_want_sell = JSON.parse(localStorage.getItem('sellValue'))

    document.getElementById("coinSell").innerHTML = coin_want_sell.quantity + ' <%= coin %>'
    document.getElementById('receive_amount').innerHTML = Intl.NumberFormat().format(parseFloat(coin_want_sell.quantity) * parseFloat('<%= rate %>'));

    // create order

    //orderType
    const queryString = window.location.href;
    var type
    if (queryString.includes('buy')) {
        type = 2
    } else if (queryString.includes('sell')) {
        type = 1
    }

    //typeCoin
    var listCoin = {
        btc: 1,
        eth: 3,
        bch: 4,
        ltc: 5,
        usdt: 6,
        xrp: 8,
        xlm: 10,
        trx: 11,
        vndt: 12,
        usdf: 14,
    }

    var typeCoin;
    var coinCode = '<%= coin %>'
    if (listCoin.hasOwnProperty(coinCode.toLowerCase())) {
        typeCoin = listCoin[coinCode.toLowerCase()];
    }

    async function createSellOrder() {

        $("#MdlSell button").attr('disabled',true);
        // document.querySelector('#create_sell_order').classList.add('disabled');
        document.querySelector('#confirm-spinner').classList.remove('d-none');        
        var data = {
            orderType: type,
            currencyCode: typeCoin,
            quantity: coin_want_sell.quantity,
            receiveBank: BankSaved,     
            agentId: coin_want_sell.agentId,
        }
        console.log(data);      


        fetch('https://login.acwallet.io/api/v1/create-order', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => {
                console.log(response);
                return response.json();
            }).then(data => {
                localStorage.setItem('fullData', JSON.stringify(data));
                window.location.href = '/transaction/sell?step=5&coin=<%= coin %>';
                return;
            });
    }


    document.querySelector('#create_sell_order').addEventListener('click', function (e) {
        createSellOrder();
    }, false);

    bankData = JSON.parse(localStorage.getItem('bankData'))
    accountInfo = JSON.parse(localStorage.getItem('accountInfo'))

    document.getElementById('bank_name_receive').innerHTML = bankData.bank
    document.getElementById('account_address').innerHTML = accountInfo.accountNumber
    document.getElementById('account_name').innerHTML = accountInfo.accountName

    var retrievedObjectData = JSON.parse(localStorage.getItem('accountInfo'));

    accountId = document.getElementById("accountId")

    function valueChanged() {
        if ($('.is-member').is(":checked")) {
            $(".uid-member").show();
            retrievedObjectData.memberAc = true;
            accountId.addEventListener('change', function() {
                retrievedObjectData.accId = this.value;
            });
        } else {
            $(".uid-member").hide();
            retrievedObjectData.memberAc = false
            retrievedObjectData.accId = ""
        }
    }

    var BankSaved = {
        number: accountInfo.accountNumber,
        name: accountInfo.accountName,
        bank: bankData.bank,
        bankCode: bankData.bankCode,
    }
</script>