<section id="intro">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="user-profile text-center text-white mt-5">
                                    <div class="user-avatar mb-4">
                                        <img src="<%= (agency.avatar == undefined) ? avatar : '' %>" class="rounded-circle border-white border-2" width="160">
                                    </div>
                                    <div class="user-info">
                                        <h3 class="fs-150 mb-4 text-white">Liên hệ với <%= agency.name %></h3>
                                        <p class="fs-090 mb-3">
                                            <span class=" font-weight-normal d-block mb-2">
                                                <i class="las la-map-marker"></i>
                                                Địa chỉ: <%= agency.homeAddress %>
                                            </span>
                                            <span class=" font-weight-normal d-block mb-2">
                                                <span class="mr-2 ml-2">
                                                    <i class="las la-phone-alt"></i>
                                                    <%= JSON.parse(agency.contact).phone.replace(/(\d{4})(\d{3})(\d{3})/, "$1.$2.$3") %>
                                                </span>
                                                <span class="mr-2 ml-2">    
                                                    <i class="las la-envelope"></i>
                                                    <%= JSON.parse(agency.contact).email %>
                                                </span>
                                            </span>
                                            <span class=" font-weight-normal d-block mb-2">
                                                <i class="las la-external-link-square-alt"></i>
                                                Website: <%= agency.website %>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="d-block">
                                                <span class="col-12 col-lg-8 col-md-8 text-left">
                                                    <a href="#" class="w-25 text-decoration-none text-secondary mr-2 ml-2 fb"
                                                    style="<%= JSON.parse(agency.contact).hasOwnProperty('facebook') == true ? '' : 'display:none' %>">
                                                        <img src="img/fb.png" width="32">
                                                    </a>
                                                    <a href="#" class="w-25 text-decoration-none text-secondary mr-2 ml-2 zl"
                                                    style="<%= JSON.parse(agency.contact).hasOwnProperty('zalo') == true ? '' : 'display:none' %>">
                                                        <img src="img/zl.png" width="32">
                                                    </a>
                                                    <a href="#" class="w-25 text-decoration-none text-secondary mr-2 ml-2 tl"
                                                    style="<%= JSON.parse(agency.contact).hasOwnProperty('telegram') == true ? '' : 'display:none' %>">
                                                        <img src="img/tl.png" width="32">
                                                    </a>
                                                    <a href="#" class="w-25 text-decoration-none text-secondary mr-2 ml-2 vb"
                                                    style="<%= JSON.parse(agency.contact).hasOwnProperty('viber') == true ? '' : 'display:none' %>">
                                                        <img src="img/vb.png" width="32">
                                                    </a>
                                                    <a href="#" class="w-25 text-decoration-none text-secondary mr-2 ml-2 messenger"
                                                    style="<%= JSON.parse(agency.contact).hasOwnProperty('messenger') == true ? '' : 'display:none' %>">
                                                        <img src="img/messenger.png" width="32">
                                                    </a>
                                                    <a href="tel:<%= JSON.parse(agency.contact).phone %>" class="w-25 text-decoration-none text-secondary mr-2 ml-2 phone"
                                                    style="<%= JSON.parse(agency.contact).hasOwnProperty('phone') == true ? '' : 'display:none' %>">
                                                        <img src="img/phone.jpg" width="32" style="border-radius: 16px">
                                                    </a>
                                                    <a href="mailto:<%= JSON.parse(agency.contact).email %>" class="w-25 text-decoration-none text-secondary mr-2 ml-2 gmail"
                                                    style="<%= JSON.parse(agency.contact).hasOwnProperty('email') == true ? '' : 'display:none' %>">
                                                        <img src="img/gmail.png" width="32">
                                                    </a>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>