<section id="intro" class="intro-short">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-background"><img src="img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="user-profile text-center text-white mt-5">
                                    <div class="user-avatar mb-2">
                                        <img src="<%= (agency.avatar == undefined) ? avatar : agency.avatar %>" class="rounded-circle border-white border-2 bg-white" width="160" height="160">
                                    </div>
                                    <div class="user-info">
                                        <h3 class="fs-150 mb-0 text-white">(<%= agency.name %>)</h3>
                                        <p class="mb-3" style="line-height:1">
                                            <span class="ml-1 fs-080 font-weight-normal mt-1">
                                                Cấp đại lý: <span class="font-weight-bold"><%= type %></span>
                                            </span>
                                        </p>
                                        <p class="mb-3">
                                            <span class="badge badge-pill badge-info rounded d-inline-block text-uppercase fs-070 font-weight-normal">
                                                <i class="las la-check-circle"></i>
                                                <%= verification %>
                                            </span>
                                            <!--<span class="badge badge-pill badge-secondary rounded d-inline-block ">
                                                <i class="las la-ban"></i>
                                                Chưa xác minh
                                            </span>-->
                                            <div class="mb-2">
                                                <span>Đã ký quỹ:</span><span class="font-weight-bold text-warning">
                                                    <%= balance %> VNDT
                                                </span>
                                            </div>
                                            <a href="/details" class="text-info fs-080">
                                                Xem hồ sơ
                                                <i class="la la-arrow-right"></i>
                                            </a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<section id="buy-sell" class="pt-5">
    <div class="container pb-5">
        <header class="section-header">
            <h3>Mua bán Coin với <%= agency.name %></h3>
        </header>
        <div class="row">
            <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                <div class="card text-black border-0 mb-4">
                    <div class="card-body">
                        <div class="hl-coin-box">
                            <div class="coin-change mb-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-220 lh-1 mr-3 d-inline-flex">
                                            <i class="cc USDF" title="USDF"></i>
                                        </span>
                                        <span>
                                            <strong>USDF</strong>
                                            <br>
                                            <span class="fs-090 text-secondary">
                                                USDF/VNDT
                                            </span>
                                        </span>
                                    </div>
                                    <span class="d-inline-block font-weight-500 fs-080">
                                        <span class="text-<%- rates['per_usdf'] > 0 ? 'success' : 'danger' %> d-flex align-items-center">
                                            <i class="las la-caret-<%- rates['per_usdf'] > 0 ? 'up' : 'down' %> mr-1"></i>
                                        <span><%= Math.abs(rates['per_usdf'].toLocaleString()) %>%</span>
                                    </span>
                                    </span>
                                </div>
                            </div>

                            <div class="coin-buy-sell">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá mua:</span>
                                        <span class="font-weight-bold text-primary"><%= rates['ask_usdf'].toLocaleString() %></span>
                                    </div>
                                    <div>
                                        <a href="/transaction/buy?step=2&coin=USDF" class="btn btn-sm btn-link font-weight-bold text-primary p-0">
                                            <i class="las la-file-import"></i> Mua
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá bán:</span>
                                        <span class="font-weight-bold text-warning"><%= rates['bid_usdf'].toLocaleString() %></span>
                                    </div>
                                    <div>
                                        <a href="/transaction/sell?step=2&coin=USDF" class="btn btn-sm btn-link font-weight-bold text-warning p-0">
                                            <i class="las la-file-export"></i> Bán
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                <div class="card text-black border-0 mb-4">
                    <div class="card-body">
                        <div class="hl-coin-box">
                            <div class="coin-change mb-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-220 lh-1 mr-3 d-inline-flex">
                                            <i class="cc XENG" title="XENG"></i>
                                        </span>
                                        <span>
                                            <strong>Xeng</strong>
                                            <br>
                                            <span class="fs-090 text-secondary">
                                                XENG/VNDT
                                            </span>
                                        </span>
                                    </div>
                                    <span class="d-inline-block font-weight-500 fs-080">
                                        <span class="text-<%- 0.134 > 0 ? 'success' : 'danger' %> d-flex align-items-center">
                                            <i class="las la-caret-<%- 0.134 > 0 ? 'up' : 'down' %> mr-1"></i>
                                            <span>0.134%</span>
                                    </span>
                                    </span>
                                </div>
                            </div>

                            <div class="coin-buy-sell">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá mua:</span>
                                        <span class="font-weight-bold text-primary">1,000.01</span>
                                    </div>
                                    <div>
                                        <a href="/transaction/buy?step=2&coin=XENG" class="btn btn-sm btn-link font-weight-bold text-primary p-0">
                                            <i class="las la-file-import"></i> Mua
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá bán:</span>
                                        <span class="font-weight-bold text-warning">1,000.56</span>
                                    </div>
                                    <div>
                                        <a href="/transaction/sell?step=2&coin=XENG" class="btn btn-sm btn-link font-weight-bold text-warning p-0">
                                            <i class="las la-file-export"></i> Bán
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                <div class="card text-black border-0 mb-4">
                    <div class="card-body">
                        <div class="hl-coin-box">
                            <div class="coin-change mb-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-220 lh-1 mr-3">
                                            <i class="cc USDT" title="USDT"></i>
                                        </span>
                                        <span>
                                            <strong>Tether USD</strong>
                                            <br>
                                            <span class="fs-090 text-secondary">
                                                USDT/VNDT
                                            </span>
                                        </span>
                                    </div>
                                    <span class="d-inline-block font-weight-500 fs-080">
                                        <span class="text-<%- rates['per_usdt'] > 0 ? 'success' : 'danger' %> d-flex align-items-center">
                                            <i class="las la-caret-<%- rates['per_usdt'] > 0 ? 'up' : 'down' %> mr-1"></i>
                                            <span><%= Math.abs(rates['per_usdt'].toLocaleString()) %>%</span>
                                    </span>
                                    </span>
                                </div>
                            </div>

                            <div class="coin-buy-sell">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá mua:</span>
                                        <span class="font-weight-bold text-primary"><%= rates['ask_usdt'].toLocaleString()%></span>
                                    </div>
                                    <div>
                                        <a href="/transaction/buy?step=2&coin=USDT" class="btn btn-sm btn-link font-weight-bold text-primary p-0">
                                            <i class="las la-file-import"></i> Mua
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá bán:</span>
                                        <span class="font-weight-bold text-warning"><%= rates['bid_usdt'].toLocaleString() %></span>
                                    </div>
                                    <div>
                                        <a href="/transaction/sell?step=2&coin=USDT" class="btn btn-sm btn-link font-weight-bold text-warning p-0">
                                            <i class="las la-file-export"></i> Bán
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                <div class="card text-black border-0 mb-4">
                    <div class="card-body">
                        <div class="hl-coin-box">
                            <div class="coin-change mb-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-220 lh-1 mr-3 d-inline-flex">
                                            <i class="cc VNDT" title="VNDT"></i>
                                        </span>
                                        <span>
                                            <strong>VNDT</strong>
                                            <br>
                                            <span class="fs-090 text-secondary">
                                                VNDT/VND
                                            </span>
                                        </span>
                                    </div>
                                    <span class="d-inline-block font-weight-500 fs-080">
                                        <span class="text-<%- rates['per_vndt'] > 0 ? 'success' : 'danger' %> d-flex align-items-center">
                                            <i class="las la-caret-<%- rates['per_vndt'] > 0 ? 'up' : 'down' %> mr-1"></i>
                                            <span><%= Math.abs(rates['per_vndt'].toLocaleString()) %>%</span>
                                    </span>
                                    </span>
                                </div>
                            </div>

                            <div class="coin-buy-sell">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá mua:</span>
                                        <span class="font-weight-bold text-primary"><%= rates['ask_vndt'].toLocaleString() %></span>
                                    </div>
                                    <div>
                                        <a href="/transaction/buy?step=2&coin=VNDT" class="btn btn-sm btn-link font-weight-bold text-primary p-0">
                                            <i class="las la-file-import"></i> Mua
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <span class="font-weight-500 fs-090 text-secondary">Giá bán:</span>
                                        <span class="font-weight-bold text-warning"><%= rates['bid_vndt'].toLocaleString() %></span>
                                    </div>
                                    <div>
                                        <a href="/transaction/sell?step=2&coin=VNDT" class="btn btn-sm btn-link font-weight-bold text-warning p-0">
                                            <i class="las la-file-export"></i> Bán
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center mt-3">
            <a href="/transaction" class="btn btn-lg btn-secondary">
                Tất cả coin
                <i class="la la-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>

<section id="step" class="bg-white">
    <div class="container pb-3">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6">

                <header class="section-header text-left">
                    <h3 class="text-left">Quy trình mua tiền mã hóa từ Đại lý</h3>
                </header>
                <div class="row" id="buy">
                    <div class="col-12">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <div><span class="sn-num">1</span></div>
                                <div class="ml-3">
                                    <p class="description">
                                        Chọn loại tiền mã hóa và số lượng bạn muốn mua đồng thời cung cấp địa chỉ nhận coin của bạn. Hãy đảm bảo bạn cung cấp địa chỉ chính xác!
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 ">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <div><span class="sn-num">2</span></div>
                                <div class="ml-3">
                                    <p class="description">
                                        Chuyển khoản đúng số tiền và nội dung chuyển khoản tới số tài khoản xác nhận của Đại lý ACWallet.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 ">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <div><span class="sn-num">3</span></div>
                                <div class="ml-3">
                                    <p class="description">
                                        Xác nhận chuyển khoản và thông báo cho Đại lý ACWallet để nhận lượng tiền mã hóa tương ứng.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6">

                <header class="section-header text-left">
                    <h3 class="text-left">Quy trình bán tiền mã hóa tới Đại lý</h3>
                </header>
                <div class="row"  id="sell">
                    <div class="col-12">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <div><span class="sn-num bg-warning">1</span></div>
                                <div class="ml-3">
                                    <p class="description">
                                        Chọn loại tiền mã hóa và số lượng bạn muốn bán đồng thời cung cấp Tài khoản ngân hàng của bạn. Hãy đảm bảo bạn cung cấp đúng số tài khoản!
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 ">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <div><span class="sn-num bg-warning">2</span></div>
                                <div class="ml-3">
                                    <p class="description">
                                        Gửi chính xác số tiền mã hóa từ ví của bạn tới ví của Đại lý ACWallet.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 ">
                        <div class="featured-item mb-3">
                            <div class="d-flex align-items-center">
                                <div><span class="sn-num bg-warning">3</span></div>
                                <div class="ml-3">
                                    <p class="description">
                                        Xác nhận giao dịch chuyển tiền mã hóa và thông báo cho Đại lý ACWallet.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>