<section id="intro" class="intro-short">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-background"><img src="img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="user-profile text-center text-white mt-5">
                                    <div class="user-avatar mb-2">
                                        <img src="<%= (agency.avatar == undefined) ? avatar : '' %>"
                                            class="rounded-circle border-white border-2" width="160">
                                    </div>
                                    <div class="user-info">
                                        <h3 class="fs-150 mb-0 text-white">(<%- agency.name %>)</h3>
                                        <p class="mb-3" style="line-height:1">
                                            <span class="ml-1 fs-080 font-weight-normal mt-1">
                                                Cấp đại lý: <span class="font-weight-bold">
                                                    <%= type %>
                                                </span>
                                            </span>
                                        </p>
                                        <p class="mb-3">
                                            <span
                                                class="badge badge-pill badge-info rounded d-inline-block text-uppercase fs-070 font-weight-normal">
                                                <i class="las la-check-circle"></i>
                                                <%= verification %>
                                            </span>
                                        </p>
                                        <p class="fs-090 mb-3">
                                            <span class=" font-weight-normal d-block p-add">
                                                <i class="las la-map-marker"></i>
                                                Địa chỉ: <%= agency.homeAddress %>
                                            </span>
                                            <span class=" font-weight-normal d-block p-add">
                                                <span class="mr-2 ml-2">
                                                    <i class="las la-phone-alt"></i>
                                                    <%= JSON.parse(agency.contact).phone.replace(/(\d{4})(\d{3})(\d{3})/, "$1.$2.$3"
                                                        ) %>
                                                </span>
                                                <span class="mr-2 ml-2">
                                                    <i class="las la-envelope"></i>
                                                    <%= JSON.parse(agency.contact).email %>
                                                </span>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="d-block">
                                                <span class="col-12 col-lg-8 col-md-8 text-left">
                                                    <a href="<%= JSON.parse(agency.contact).facebook %>"
                                                        class="w-25 text-decoration-none text-secondary mr-2 ml-2 fb"
                                                        style="<%= (JSON.parse(agency.contact).hasOwnProperty('facebook') == true && JSON.parse(agency.contact).facebook != '')  ? '' : 'display:none' %>">
                                                        <img src="img/fb.png" width="32">
                                                    </a>
                                                    <a href="#"
                                                        class="w-25 text-decoration-none text-secondary mr-2 ml-2 zl"
                                                        style="<%= (JSON.parse(agency.contact).hasOwnProperty('zalo') == true && JSON.parse(agency.contact).zalo != '') ? '' : 'display:none' %>">
                                                        <img src="img/zl.png" width="32">
                                                    </a>
                                                    <a href="#"
                                                        class="w-25 text-decoration-none text-secondary mr-2 ml-2 tl"
                                                        style="<%= (JSON.parse(agency.contact).hasOwnProperty('telegram') == true && JSON.parse(agency.contact).telegram != '') ? '' : 'display:none' %>">
                                                        <img src="img/tl.png" width="32">
                                                    </a>
                                                    <a href="#"
                                                        class="w-25 text-decoration-none text-secondary mr-2 ml-2 vb"
                                                        style="<%= (JSON.parse(agency.contact).hasOwnProperty('viber') == true && JSON.parse(agency.contact).viber != '') ? '' : 'display:none' %>">
                                                        <img src="img/vb.png" width="32">
                                                    </a>
                                                    <a href="#"
                                                        class="w-25 text-decoration-none text-secondary mr-2 ml-2 messenger"
                                                        style="<%= (JSON.parse(agency.contact).hasOwnProperty('message') == true && JSON.parse(agency.contact).message != '') ? '' : 'display:none' %>">
                                                        <img src="img/messenger.png" width="32">
                                                    </a>
                                                    <a href="tel:<%= JSON.parse(agency.contact).phone %>"
                                                        class="w-25 text-decoration-none text-secondary mr-2 ml-2 phone"
                                                        style="<%= (JSON.parse(agency.contact).hasOwnProperty('phone') == true && JSON.parse(agency.contact).phone != '') ? '' : 'display:none' %>">
                                                        <img src="img/phone.png" width="32">
                                                    </a>
                                                    <a href="mailto:<%= JSON.parse(agency.contact).email %>"
                                                        class="w-25 text-decoration-none text-secondary mr-2 ml-2 gmail"
                                                        style="<%= (JSON.parse(agency.contact).hasOwnProperty('email') == true && JSON.parse(agency.contact).email != '') ? '' : 'display:none' %>">
                                                        <img src="img/gmail.png" width="32">
                                                    </a>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="buy-sell" class="pt-5">
    <div class="container pb-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 col-lg-8 col-md-12">
                <div class="prifile-box">
                    <div class="card shadow-sm mb-4 border-0">
                        <div
                            class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                            <h5 class="m-0 font-weight-bold text-primary">
                                Ký quỹ
                            </h5>
                        </div>
                        <div class="card-body border-0">
                            <div class="user-profile text-center">

                                <div class="user-info">

                                    <div class="row mb-3">
                                        <div class="col-12 col-lg-4 col-md-4 text-left text-md-right">
                                            <span>Số tiền ký quỹ</span>
                                        </div>
                                        <div class="col-12 col-lg-8 col-md-8 text-left">
                                            <span class="font-weight-bold text-danger" id="guaranter-amount"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-lg-4 col-md-4 text-left text-md-right">
                                            <span>Địa chỉ ví ký quỹ (VNDT)</span>
                                        </div>
                                        <div class="col-12 col-lg-8 col-md-8 text-left">
                                            <span class="font-weight-bold">
                                                <%- agency.address %>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-lg-4 col-md-4  text-left text-md-right">
                                            <span>Trạng thái ký quỹ</span>
                                        </div>
                                        <div class="col-12 col-lg-8 col-md-8 text-left">
                                            <span class="font-weight-bold">
                                                <span class="badge badge-pill badge-success">
                                                    <i class="las la-check"></i>
                                                    Đã nạp tiền ký quỹ
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card shadow-sm border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            <i class="las la-wallet"></i>
                            Địa chỉ ví
                        </h5>
                    </div>
                    <div class="card-body border-0 pt-3 pb-3 pr-4 pl-4 ml-1 mr-1">
                        <div class="row">
                            <% wallet.forEach((value, index)=> { %>
                                <div class="col-12">
                                    <div class="form-group mini-col">
                                        <label for="" class="font-weight-500">Địa chỉ ví <%= value.currency %></label>
                                        <div class="input-group mb-0">
                                            <input type="text" class="form-control" value="<%= value.address %>"
                                                readonly="">
                                            <div class="input-group-append">
                                                <button class="btn btn-light border" id="basic-addon2"
                                                    onclick="copyCode(this)">
                                                    <i class="las la-copy mr-1"></i>
                                                    Sao chép
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function getBalance() {
            fetch('https://api.trongrid.io/v1/accounts/' + '<%- agency.address %>', {
                method: 'GET',
            })
                .then(response => {
                    return response.json();
                }).then(data => {
                    var assetV2 = data.data[0].assetV2;
                    assetV2.forEach(element => {
                        if (element.key == "1003496") {
                            var balance = element.value;
                            document.getElementById('guaranter-amount').innerHTML =Intl.NumberFormat().format(balance / 1000) + ' VNDT';
                        }
                    });
                    return;
                });
        }
        getBalance();

    </script>
</section>