<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Mua <%=coin %> từ đại lý <%=
                                                            agency.name %>
                                                </h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>5</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<section id="coin-info" class="pt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            2. Số lượng và địa chỉ ví
                        </h5>
                    </div>

                    <div class="card-body border-0 mini-col">
                        <div class="row">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label for="" class="font-weight-500">Số lượng mua</label>
                                    <div class="input-group mb-0">
                                        <input type="number" class="form-control" value="" id="quantity">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="coin_value">
                                                <%= coin %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500">Giá mua</label>
                                    <div class="input-group mb-0">
                                        <input type="text" id="coinPrice" class="form-control"
                                            value="<%= Intl.NumberFormat().format(rate) %>" readonly="">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                VND
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="text-center fs-110 font-weight-bold mb-2 mt-2">
                                    Số tiền bạn trả: <span class="font-weight-bold text-success" id="sumPrice">0
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mini-col mb-2">
                                    <label for="" class="font-weight-500">Địa chỉ ví của bạn</label>
                                    <input type="text" class="form-control" id="address_wallet">
                                </div>
                                <span id="error"></span>
                            </div>

                        </div>
                    </div>

                    <div class="card-footer border-0">
                        <!--<button class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </button>
                        <button class="btn btn-primary float-right">
                            <i class="las la-arrow-right"></i>
                            Tiếp tục
                        </button>-->
                        <a href="/transaction/buy?step=1" class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </a>
                        <a href="#" class="btn btn-primary float-right"
                            id="buy_continue">
                            Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <span id="agentId" style="display: none">
        <%= agency.agencyId %>
    </span>
</section>
<script>
    var listCoin = {
        btc: 1,
        eth: 3,
        bch: 4,
        ltc: 5,
        usdt: 6,
        xrp: 8,
        xlm: 10,
        trx: 11,
        vndt: 12,
        usdf: 14,
        xeng: 15,
        cent: 16
    }

    // set info for html
    var agencyId = '<%= agency.agencyId %>';
    typeCoin = listCoin['<%=coin%>'.toLowerCase()];

    const queryString = window.location.href;
    var type, user;
    if (queryString.includes('buy')) {
        type = 2
    } else if (queryString.includes('sell')) {
        type = 1
    }

    // element for html
    address_wallet = document.getElementById('address_wallet');

    sumPriceEle = document.getElementById('sumPrice');
    buyContinue = document.getElementById('buy_continue');

    document.getElementById("quantity").addEventListener('input', function () {
        var coinPrice = parseFloat('<%=rate%>');
        var quantity = document.getElementById('quantity').value;
        if (quantity == undefined || quantity == '') {
            quantity =0;
        }
        sumPrice = parseFloat(quantity) * parseFloat(coinPrice);
        sumPriceEle.innerHTML = Intl.NumberFormat().format(sumPrice);
    })

    function checkQuantityValid() {  
        var quantity = document.getElementById('quantity').value;
        if (quantity == undefined || quantity == "") {
            toastr_error('Vui lòng nhập số lượng mua', '');
            return false;
        }
        if (parseFloat(quantity) <= 0) {
            toastr_error('Số lượng không hợp lệ', '');
            return false;
        }      
        return true;
    }

    function checkAddressValid() {
        var address = document.getElementById("address_wallet").value;
        if (address == undefined || address == "") {
            toastr_error('Vui lòng nhập địa chỉ nhận coin', '');
            return false;
        }
        var cur = '<%= coin %>';
        if ("BTC TRX USDF XENG VNDT XRP".indexOf(cur.toUpperCase()) > -1 && address.length != 34) {
            toastr_error('Địa chỉ nhận không hợp lệ', '');
            return false;
        }
        if ("ETH USDT".indexOf(cur.toUpperCase()) > -1 && address.length != 42) {
            toastr_error('Địa chỉ nhận không hợp lệ', '');
            return false;
        }
        if ("XLM".indexOf(cur.toUpperCase()) > -1 && address.length != 56) {
            toastr_error('Địa chỉ nhận không hợp lệ', '');
            return false;
        }
        return true;
    }

    document.getElementById('buy_continue').addEventListener('click', function () {
        if (!checkQuantityValid() || !checkAddressValid()) {         
            return false;
        }   
        user = {
            currencyCode: typeCoin,
            orderType: type,
            agentId: agencyId,
            receiveAddress: document.getElementById("address_wallet").value,
            quantity: document.getElementById("quantity").value,
            sumPrice: parseFloat(document.getElementById("quantity").value) * parseFloat('<%=rate%>'),
            rate: '<%=rate%>',
        }
        localStorage.setItem('user', JSON.stringify(user));
        window.location.replace("/transaction/buy?step=3&coin=<%=coin%>");
    })


</script>