<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Mua <%= coin %> từ đại lý <%= agency.name %></h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<section id="coin-info" class="pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            3. Chọn ngân hàng của đại lý
                        </h5>
                    </div>

                    <div class="card-body border-0 mini-col">
                        <div class="row">
                            <div class="col-12 bank-box">
                                <div class="form-group">
                                    <label for="" class="font-weight-500 d-block">
                                        Chọn ngân hàng
                                    </label>
                                    <div class="dropdown bootstrap-select form-control none">
                                        <select class="form-control selectpickernone" tabindex="-98" id="select_bank">
                                            <% listBank.forEach((value, index) => { %>
                                                <% if (value.code == JSON.parse(agency.bankAccounts)[0].bankCode) { %>
                                                    <option value="<%= value.code %>"><%= value.name %></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="bank-box mb-3">
                                    <div class="d-flex align-items-center mb-1">
                                        <span class="bank-title">Tên ngân hàng:</span>
                                        <span class="font-weight-bold" id="bank_name">Ngân hàng TMCP Bản Việt (VIETCAPITAL)</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-1">
                                        <span class="bank-title">Số tài khoản:</span>
                                        <span class="font-weight-bold"><%- JSON.parse(agency.bankAccounts)[0].number %></span>
                                    </div>
                                    <div class="d-flex align-items-center mb-1">
                                        <span class="bank-title">Tên chủ tài khoản:</span>
                                        <span class="font-weight-bold"><%- JSON.parse(agency.bankAccounts)[0].name %></span>
                                    </div>
                                    <!-- <div class="d-flex align-items-center mb-1">
                                        <span class="bank-title">Nội dung chuyển khoản:</span>
                                        <span class="font-weight-bold">TTB1R6WA</span>
                                    </div> -->
                                    <span id="bank_list_name" style="display: none">
                                        <% listBank.some(function(el) { %>
                                            <% if (el.code == JSON.parse(agency.bankAccounts)[0].bankCode) { %>
                                                <%= el.name %>
                                            <% } %>
                                        <% }); %>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="card-footer border-0">
                        <!--<button class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </button>
                        <button class="btn btn-primary float-right">
                                <i class="las la-arrow-right"></i>
                            Tiếp tục
                        </button>-->
                        <a href="/transaction" class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </a>
                        <a href="/transaction/buy?step=3" class="btn btn-primary float-right"  data-toggle="modal" data-target="#MdlBuy">
                            Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </a>
                        <!-- Popup Buy -->
                        <div class="modal fade" id="MdlBuy" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận mua <%= coin %></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <div class="col-12 mb-2">
                                                <span class="font-weight-500">Số lượng mua:</span>
                                                <span class="font-weight-bold text-primary" id="order_value_coin"></span>
                                            </div>
                                            <div class="col-12 fs-075 text-secondary mb-4">
                                                <span class="ml-1 mr-1">
                                                    Tỉ giá: <span class="font-weight-bold text-danger">
                                                        <%= Intl.NumberFormat().format(rate) %> VND
                                                    </span>
                                                </span>
                                                <!--<span class="ml-1 mr-1">
                                                    Phí: <span class="font-weight-bold text-warning">240,384 VNDT</span>
                                                </span>-->
                                            </div>
                                            <div class="text-center fs-110 font-weight-bold mb-4">
                                                Số tiền bạn trả: <span class="font-weight-bolder text-success" id="sum_price_value">0 VNDT</span>
                                            </div>
                                            <div class="mb-4">
                                                Địa chỉ ví nhận: <span class="font-weight-bold" id="address_receive"></span>
                                            </div>
                                            <div class="text-danger fs-085">
                                                Chú ý: Cần kiểm tra kỹ địa chỉ ví. Đại lý sẽ không chịu trách nhiệm trường hợp bạn gửi nhầm coin hay địa chỉ ví.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            <i class="las la-times-circle"></i>
                                            Bỏ qua
                                        </button>
                                        <!--<button type="button" class="btn btn-primary">
                                            <i class="las la-check-circle"></i>
                                            Xác nhận
                                        </button>-->
                                        <a href="javascript:void(0)" type="button" id="create_order" class="btn btn-primary">
                                            <i class="las la-check-circle"></i>
                                            Xác nhận
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    // list bank
    var listBank = [
        { "code" :"970454", "name" : "Ngân hàng TMCP Bản Việt (VIETCAPITAL)"},
        { "code" :"970452", "name" : "Ngân hàng TMCP Kiên Long (KIENLONGBANK)"},
        { "code" :"970400", "name" : "Ngân hàng TMCP Sài Gòn Công Thương (SAIGONBANK)"},
        { "code" :"970430", "name" : "Ngân hàng TMCP Xăng Dầu Petrolimex (PG BANK)"},
        { "code" :"970431", "name" : "Ngân hàng TMCP xuất nhập khẩu Việt Nam (EXIMBANK)"},
        { "code" :"970455", "name" : "Ngân hàng Công nghiệp Hàn Quốc (IBK)"},
        { "code" :"970421", "name" : "Ngân hàng Liên Doanh Việt Nga (VRB)"},
        { "code" :"970405", "name" : "Ngân hàng NN và PTNN Việt Nam (AGRIBANK)"},
        { "code" :"970408", "name" : "Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu (GPB)"},
        { "code" :"970416", "name" : "Ngân hàng TMCP Á Châu (ACB)"},
        { "code" :"970425", "name" : "Ngân hàng TMCP An Bình (ABBANK)"},
        { "code" :"970438", "name" : "Ngân hàng TMCP Bảo Việt (BVB)"},
        { "code" :"970449", "name" : "Ngân hàng TMCP Bưu Điện Liên Việt (LPB)"},
        { "code" :"970415", "name" : "Ngân hàng TMCP Công Thương Việt Nam (VIETINBANK)"},
        { "code" :"970412", "name" : "Ngân hàng TMCP Đại Chúng Việt Nam (PVCOMBANK)"},
        { "code" :"970414", "name" : "Ngân hàng TMCP Đại Dương (OCEANBANK)"},
        { "code" :"970418", "name" : "Ngân hàng TMCP Đầu tư và Phát triển Việt Nam (BIDV)"},
        { "code" :"970406", "name" : "Ngân hàng TMCP Đông Á (DONGABANK)"},
        { "code" :"970440", "name" : "Ngân hàng TMCP Đông Nam Á (SEABANK)"},
        { "code" :"970426", "name" : "Ngân hàng TMCP Hàng Hải Việt Nam (MSB)"},
        { "code" :"970407", "name" : "Ngân hàng TMCP Kỹ thương Việt Nam (TECHCOMBANK)"},
        { "code" :"970428", "name" : "Ngân hàng TMCP Nam Á (NAMABANK)"},
        { "code" :"970436", "name" : "Ngân hàng TMCP Ngoại Thương Việt Nam (VIETCOMBANK)"},
        { "code" :"970437", "name" : "Ngân hàng TMCP Phát Triển Thành Phố Hồ Chí Minh (HDB)"},
        { "code" :"970448", "name" : "Ngân hàng TMCP Phương Đông (OCB)"},
        { "code" :"970422", "name" : "Ngân hàng TMCP Quân Đội (MB)"},
        { "code" :"970419", "name" : "Ngân hàng TMCP Quốc Dân (NCB)"},
        { "code" :"970441", "name" : "Ngân hàng TMCP Quốc Tế (VIB)"},
        { "code" :"970429", "name" : "Ngân hàng TMCP Sài Gòn (SCB)"},
        { "code" :"970443", "name" : "Ngân hàng TMCP Sài Gòn - Hà Nội (SHB)"},
        { "code" :"970403", "name" : "Ngân hàng TMCP Sài Gòn Thương Tín (SACOMBANK)"},
        { "code" :"970423", "name" : "Ngân hàng TMCP Tiên Phong (TPBANK)"},
        { "code" :"970427", "name" : "Ngân hàng TMCP Việt Á (VAB)"},
        { "code" :"970432", "name" : "Ngân hàng TMCP Việt Nam Thịnh Vương (VPBANK)"},
        { "code" :"970433", "name" : "Ngân hàng TMCP Việt Nam Thương Tín (VIETBANK)"},
        { "code" :"970434", "name" : "Ngân hàng TNHH Indovina (INDOVINA)"},
        { "code" :"422589", "name" : "Ngân hàng TNHH MTV CIMB Việt Nam (CIMB)"},
        { "code" :"970442", "name" : "Ngân hàng TNHH MTV Hongleong Việt Nam (HONGLEONG)"},
        { "code" :"970439", "name" : "Ngân hàng TNHH MTV Public Việt Nam (PBVN)"},
        { "code" :"970424", "name" : "Ngân hàng TNHH MTV Shinhan Việt Nam (SHBVN)"},
        { "code" :"970458", "name" : "Ngân hàng TNHH MTV United Overseas Bank (UOB)"},
        
        { "code" :"970457", "name" : "Ngân hàng Wooribank (WOORIBANK)"}
    ];

    const api_store_url = `http://login.acwallet.io/api/v1/agency-detail?name=MA8888`

    var retrievedObject = JSON.parse(localStorage.getItem('user'));
    var e = document.getElementById("select_bank");

    document.getElementById('bank_name').innerHTML = e.options[0].text;

    e.addEventListener('change', function() {
        document.getElementById('bank_name').innerHTML = this.options[this.selectedIndex].text;
    });

    var BankSaved = {
        number: '<%- JSON.parse(agency.bankAccounts)[0].number %>',
        name: '<%- JSON.parse(agency.bankAccounts)[0].name %>',
        bank: "",
        bankCode: '<%- JSON.parse(agency.bankAccounts)[0].bankCode %>',
    }

    var data = {
        receiveBank: BankSaved,
        receiveAddress: retrievedObject.receiveAddress,
        quantity: parseFloat(retrievedObject.quantity),
        orderType: retrievedObject.orderType,
        currencyCode: retrievedObject.currencyCode,
        agentId: parseInt(retrievedObject.agentId),
    }

    // save to localStorage
    localStorage.setItem('data', JSON.stringify(data));

    async function createOrder() {
        var retrievedObjectData = JSON.parse(localStorage.getItem('data'));
        fetch('https://login.acwallet.io/api/v1/create-order', {
            method: 'POST',
            body:    JSON.stringify(retrievedObjectData),
            headers: { 'Content-Type': 'application/json' },
        })
        .then(response =>  {
            console.log(response);
            return response.json();
        }).then(data => {
            localStorage.setItem('fullData', JSON.stringify(data));
            window.location.href = '/transaction/buy?step=4&coin=<%= coin %>';
            return;
        });
    }

    // set information for order
    document.querySelector('#order_value_coin').innerHTML = Intl.NumberFormat().format(parseFloat(retrievedObject.quantity)) + ' <%= coin %>';
    document.querySelector('#sum_price_value').innerHTML = Intl.NumberFormat().format(parseFloat(retrievedObject.quantity) * parseFloat('<%= rate %>'));
    document.querySelector('#address_receive').innerHTML = retrievedObject.receiveAddress;

    document.querySelector('#create_order').addEventListener('click', function(e) {    
        createOrder();
    }, false);
</script>