<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Mua <%= coin %> từ đại lý <%=
                                                            agency.name %>
                                                </h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item">
                                                            <span>5</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<section id="coin-info" class="pt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            4. Thông tin liên hệ của bạn
                        </h5>
                    </div>

                    <div class="card-body border-0 mini-col">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <!-- <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input is-member" id="customCheck"
                                            onchange="valueChanged()">
                                        <label class="custom-control-label" for="customCheck">
                                            Là thành viên trên ACWallet
                                        </label>
                                    </div> -->
                                    <div class="form-group mini-col mt-2 uid-member" style="display:none;">
                                        <input type="text" class="form-control" value="" id="accountId">
                                        <small class="form-text text-muted">Nhập UID tài khoản ACWallet</small>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="font-weight-500 d-block">
                                        Họ và Tên: *
                                    </label>
                                    <input type="text" class="form-control" value="" id="buyerName">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="" class="font-weight-500 d-block">
                                        Email *
                                    </label>
                                    <input type="email" class="form-control" value="" id="email">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block">
                                        Số điện thoại
                                    </label>
                                    <input type="number" class="form-control" id="phone">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block">
                                        Zalo
                                    </label>
                                    <input type="text" class="form-control" id="zalo">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block">
                                        Telegram
                                    </label>
                                    <input type="text" class="form-control" id="telegram">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block" id="skype">
                                        Skype
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="form-group mini-col">
                                    <label for="" class="font-weight-500 d-block">
                                        Viber
                                    </label>
                                    <input type="text" class="form-control" id="viber">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer border-0">

                        <a href="/transaction/buy?step=3&coin=<%=coin%>" class="btn btn-secondary">
                            <i class="las la-arrow-left"></i>
                            Quay lại
                        </a>
                        <a href="javascript:void(0)" class="btn btn-primary float-right" id="orderSoft">
                            Tiếp tục
                            <i class="las la-arrow-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Popup Buy -->
<div class="modal fade" id="MdlBuy" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận mua <%= coin %>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="col-12 mb-2">
                        <span class="font-weight-500">Số lượng mua:</span>
                        <span class="font-weight-bold text-primary" id="order_value_coin"></span>
                    </div>
                    <div class="col-12 fs-075 text-secondary mb-4">
                        <span class="ml-1 mr-1">
                            Tỉ giá: <span class="font-weight-bold text-danger">
                                <%= Intl.NumberFormat().format(rate) %> VND
                            </span>
                        </span>
                        <!--<span class="ml-1 mr-1">
                            Phí: <span class="font-weight-bold text-warning">240,384 VNDT</span>
                        </span>-->
                    </div>
                    <div class="text-center fs-110 font-weight-bold mb-4">
                        Số tiền bạn trả: <span class="font-weight-bolder text-success" id="sum_price_value">0
                            VNDT</span>
                    </div>
                    <div class="mb-4">
                        Địa chỉ ví nhận: <span class="font-weight-bold" id="address_receive"></span>
                    </div>
                    <div class="text-danger fs-085">
                        Chú ý: Cần kiểm tra kỹ địa chỉ ví. Đại lý sẽ không chịu trách nhiệm trường hợp bạn gửi nhầm
                        coin hay địa chỉ ví.
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="las la-times-circle"></i>
                    Bỏ qua
                </button>

                <button id="create_order" class="btn btn-primary">
                    <div id="confirm-spinner" class="spinner-border text-secondary spinner-border-sm d-none"
                        role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <i class="las la-check-circle"></i>
                    Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var listCoin = {
        btc: 1,
        eth: 3,
        bch: 4,
        ltc: 5,
        usdt: 6,
        xrp: 8,
        xlm: 10,
        trx: 11,
        vndt: 12,
        usdf: 14,
        xeng: 15,
        cent: 16
    }
    typeCoin = listCoin['<%=coin%>'.toLowerCase()];
    
    // var retrievedObject = JSON.parse(localStorage.getItem('user'));
    var retrievedObject = JSON.parse(localStorage.getItem('orderFullData'))[0];
    var uid = localStorage.getItem('uid');
    getACInfo(uid);

    async function createOrder() {
        $("#MdlBuy button").attr('disabled', true);
        document.querySelector('#confirm-spinner').classList.remove('d-none');
        fetch('https://login.acwallet.io/api/v1/create-order', {
            method: 'POST',
            body: JSON.stringify(retrievedObjectData),
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => {
                console.log(response);
                return response.json();
            }).then(data => {
                var orderFullData = JSON.parse(localStorage.getItem('orderFullData'));
                orderFullData.push(data);
                // localStorage.setItem('fullData', JSON.stringify(data));
                localStorage.setItem('orderFullData', JSON.stringify(orderFullData));
                window.location.href = '/transaction/buy?step=5&coin=<%= coin %>';
                return;
            });
    }

    // set information for order
    document.querySelector('#order_value_coin').innerHTML = Intl.NumberFormat().format(parseFloat(retrievedObject.quantity)) + ' <%= coin %>';
    document.querySelector('#sum_price_value').innerHTML = Intl.NumberFormat().format(parseFloat(retrievedObject.quantity) * parseFloat('<%= rate %>'));
    document.querySelector('#address_receive').innerHTML = retrievedObject.receiveAddress;



    function checkEmailValid() {
        var email = document.getElementById('email').value;
        if (email == undefined || email == '') {
            toastr_error('Vui lòng nhập địa chỉ email', '');
            return false;
        }
        if (!isEmail(email)) {
            toastr_error('Email không hợp lệ', '');
            return false;
        }
        return true;
    }

    function checkNameValid() {
        var name = document.getElementById("buyerName").value;
        if (name == undefined || name == '') {
            toastr_error('Vui lòng nhập họ tên của bạn', '');
            return false;
        }
        return true;
    }

    function checkPhoneValid() {
        var phone = document.getElementById("phone").value;
        // if (phone == undefined || phone == '') {
        //     toastr.error('Vui lòng nhập số điện thoại', '')
        //     return false;
        // }
        if (phone != "") {
            if(phone.length != 10) {
                toastr.error('Số điện thoại không đúng', '')
                return false;
            }
        }
        return true;
    }

    // document.getElementById("accountId").addEventListener('blur', function () {
    //     checkAcwalletId();
    // })

    var ACAccountValid = false;
    // function checkAcwalletId() {
    //     if (!retrievedObjectData.memberAc) {
    //         return true;
    //     }
    //     var acWalletId = $("#accountId").val();
    //     if (acWalletId == undefined || acWalletId == "") {
    //         toastr.error('vui lòng nhập id của bạn trên hệ thống Acwallet', '')
    //         return false;
    //     }
    //     getACInfo(acWalletId);
    // }

    document.getElementById("orderSoft").addEventListener('click', function () {
        if (retrievedObjectData.memberAc && !ACAccountValid) {
            toastr_error("Id tài khoản Acwallet không đúng.");
            return false;
        }
        if (!checkNameValid() || !checkEmailValid() || !checkPhoneValid()) {
            return false;
        }
        var contact = {
            email: $("#email").val(),
            phone: $("#phone").val(),
            zalo: $("#zalo").val(),
            telegram: $("#telegram").val(),
            skype: $("#skype").val(),
            viber: $("#viber").val(),
        };
        retrievedObjectData.contact = JSON.stringify(contact);
        retrievedObjectData.buyerName = $("#buyerName").val();
        retrievedObjectData.accId = $("#accountId").val();
        $("#MdlBuy").modal("show");
    })

    // var retrievedObjectData = JSON.parse(localStorage.getItem('data'));
    var retrievedObjectData = JSON.parse(localStorage.getItem('orderFullData'))[1];

    function valueChanged() {
        if ($('.is-member').is(":checked")) {
            $(".uid-member").show();
            retrievedObjectData.memberAc = true;
        } else {
            $(".uid-member").hide();
            retrievedObjectData.memberAc = false;
        }
    }

    // function getACInfo(id) {
    //     fetch('https://login.acwallet.io/api/v1/get-info-by-acc-id?id=' + id, {
    //         method: 'GET',
    //         headers: { 'Content-Type': 'application/json' },
    //     })
    //         .then(response => {
    //             return response.json();
    //         }).then(data => {
    //             if (data.length > 0) {
    //                 var fisrt = data[0];
    //                 $("#email").val(fisrt.email);
    //                 ACAccountValid = true;
    //             } else {
    //                 ACAccountValid = false;
    //                 toastr_error("Không tìm thấy Id này trên hệ thống Acwallet. Vui lòng kiểm tra lại")
    //             }
    //             return;
    //         });
    // }

    document.querySelector('#create_order').addEventListener('click', function (e) {
        createOrder();
    }, false);

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (!regex.test(email)) {
            return false;
        } else {
            return true;
        }
    }

    function getACInfo(uid) {       
        var coin;
        if(typeCoin == 3 || typeCoin == 6) {
            coin = 'ETH';
        } else if(typeCoin == 15 || typeCoin == 11 || typeCoin == 14 || typeCoin == 12) {
            coin = 'TRX';
        }
        fetch(`https://login.acwallet.io/api/v1/get-info-by-acc-id?id=${id}&c=${coin}`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => {
                return response.json();
            }).then(data => {
                if (data.length > 0) {
                    var fisrt = data[0];
                    $("#email").val(fisrt.email);
                    ACAccountValid = true;
                } else {
                    ACAccountValid = false;
                    toastr_error("Không tìm thấy Id này trên hệ thống Acwallet. Vui lòng kiểm tra lại")
                }
                return;
            });
    }

</script>