<section id="intro" class="intro-short-small">
    <div class="intro-container ">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="/img/pr.jpg" alt="" class="w-100"></div>
                    <div class="carousel-container">
                        <div class="carousel-content content-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                                        <div class="user-profile text-center text-white mt-5">
                                            <div class="user-info">
                                                <h3 class="fs-150 mb-0 text-white">Mua <%= coin %> từ đại lý <%= agency.name %>
                                                </h3>
                                            </div>
                                            <div class="kt-wizard-v3 mb-5 mt-4 pt-2">
                                                <div class="kt-wizard-v3__nav">
                                                    <div class="kt-wizard-v3__nav-line"></div>
                                                    <div class="kt-wizard-v3__nav-items">

                                                        <div id="ctl11_DivChecking" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>1</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>2</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>3</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item"
                                                            data-ktwizard-state="done">
                                                            <span>4</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div id="ctl11_DivPending" class="kt-wizard-v3__nav-item" data-ktwizard-state="done">
                                                            <span>5</span>
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<section id="coin-info" class="pt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 col-md-10">
                <div class="card shadow-sm mb-5 border-0">
                    <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">
                            5. Chuyển khoản cho đại lý
                        </h5>
                    </div>

                    <div class="card-body border-0 mini-col">
                        <div class="row">
                            <div class="col-12">

                                <div class="text-center">
                                    <div class="mb-3 fs-120">
                                        <span class="font-weight-bold">Bạn đã đặt lệnh mua <%= coin %> thành
                                                công!</span>
                                    </div>
                                    <div class="col-12 mb-2 fs-80">
                                        <span class="font-weight-500">Mã đơn hàng:</span>
                                        <span class="font-weight-bold text-danger" id="order_id"></span>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <span class="font-weight-500">Số lượng mua:</span>
                                        <span class="font-weight-bold text-primary" id="coin_value_buy"></span>
                                    </div>
                                    <div class="col-12 fs-075 text-secondary mb-4">
                                        <span class="ml-1 mr-1">
                                            Tỉ giá <%- coin %>/VNDT: <span class="font-weight-bold text-danger" id="rate">                                                
                                            </span>
                                        </span>
                                        <!-- <span class="ml-1 mr-1">
                                            Phí: <span class="font-weight-bold text-warning">230,384 VND</span>
                                        </span> -->
                                    </div>
                                    <div class="mb-4">
                                        Địa chỉ ví nhận: <span class="font-weight-bold" id="address_receive"></span>
                                    </div>
                                    <hr>
                                    <div class="text-center fs-110 font-weight-bold mb-4">
                                        Số tiền bạn trả: <span class="font-weight-bold text-success"
                                            id="pay_value"></span>
                                    </div>
                                    <div class=" mb-3 d-inline-block">
                                        <div class="align-items-center mb-1">
                                            <span class="bank-title">Chuyển tiền vào ngân hàng:</span>
                                            <span class="font-weight-bold" id="bank_name_receive"></span>
                                        </div>
                                        <div class="align-items-center mb-1">
                                            <span class="bank-title">Số tài khoản:</span>
                                            <span class="font-weight-bold" id="agency_number_receive"></span>
                                        </div>
                                        <div class="align-items-center mb-1">
                                            <span class="bank-title">Tên chủ tài khoản:</span>
                                            <span class="font-weight-bold" id="agency_name_receive"></span>
                                        </div>
                                        <div class="align-items-center mb-1">
                                            <span class="bank-title">Nội dung chuyển khoản:</span>
                                            <span class="font-weight-bold" id="agency_message"></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class=" mb-3 d-inline-block">
                                        <!-- <div>Thông tin liên hệ</div>      -->
                                        <div class="align-items-center mb-1">
                                            <span class="bank-title">Người <%- typeMethod == 2 ? 'mua' : 'bán' %>:</span>
                                            <span class="font-weight-bold" id="buyer_name"></span>
                                        </div>                                  
                                        <div class="align-items-center mb-1">
                                            <span class="bank-title">Số điện thoại:</span>
                                            <span class="font-weight-bold" id="phone"></span>
                                        </div>
                                        <div class="align-items-center mb-1">
                                            <span class="bank-title">Email:</span>
                                            <span class="font-weight-bold" id="email"></span>
                                        </div>
                                    </div>
                                    <hr>                                      
                                    <div class="fs-090 mb-3 text-center">
                                        <span>
                                            Trạng thái: <span class="badge badge-pill badge-warning wf-85">Chưa chuyển
                                                tiền</span>
                                        </span>
                                    </div>
                                    <!-- <div class="fs-080 mb-4 text-center">
                                        <span>
                                            Thời gian chuyển khoản còn: <span class="text-danger font-weight-500"
                                                id="expireTime"></span>
                                        </span>
                                    </div> -->
                                    <p class="font-weight-bold">
                                        Bạn hãy lưu lại mã đơn hàng này để kiểm tra trạng thái đơn hàng của bạn hoặc tìm lại mã đơn hàng của bạn trong Email bạn đã đăng ký
                                    </p>
                                    <div class="text-center mb-3">
                                        <div class="card d-inline-block border-0">
                                            <div class="card-body bg-danger border-0 text-white font-weight-bold fs-125 pt-3 pb-3">
                                                <span id="order_check_id"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fs-080 mb-4 text-center">
                                        <span>
                                            Hãy nhấp chuột vào đây để <a href="#" id="order_link" class="text-primary font-weight-500">kiểm tra trạng thái đơn hàng</a> của bạn
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="fs-080 mb-2 text-center">
                                        <span class="text-danger">
                                            <strong>Chú ý!</strong>
                                            Bạn sẽ nhận được Coin vào ví của bạn ngay sau khi chúng tôi kiểm tra lệnh
                                            mua là hợp lệ và bạn đã chuyển khoản ngân hàng cho chúng tôi theo số tài
                                            khoản bên trên. Liên hệ với chúng tôi theo số điện thoại bên dưới để được tư
                                            vấn.
                                        </span>
                                    </div>
                                    <div class="text-center mb-2 font-weight-bold">
                                        <a href="javascript:;" onclick="window.print();">
                                            <i class="las la-print"></i>
                                            In đơn hàng này
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
<script>

    // list bank
    var listBank = [
        { "code": "970454", "name": "Ngân hàng TMCP Bản Việt (VIETCAPITAL)" },
        { "code": "970452", "name": "Ngân hàng TMCP Kiên Long (KIENLONGBANK)" },
        { "code": "970400", "name": "Ngân hàng TMCP Sài Gòn Công Thương (SAIGONBANK)" },
        { "code": "970430", "name": "Ngân hàng TMCP Xăng Dầu Petrolimex (PG BANK)" },
        { "code": "970431", "name": "Ngân hàng TMCP xuất nhập khẩu Việt Nam (EXIMBANK)" },
        { "code": "970455", "name": "Ngân hàng Công nghiệp Hàn Quốc (IBK)" },
        { "code": "970421", "name": "Ngân hàng Liên Doanh Việt Nga (VRB)" },
        { "code": "970405", "name": "Ngân hàng NN và PTNN Việt Nam (AGRIBANK)" },
        { "code": "970408", "name": "Ngân hàng TM TNHH MTV Dầu Khí Toàn Cầu (GPB)" },
        { "code": "970416", "name": "Ngân hàng TMCP Á Châu (ACB)" },
        { "code": "970425", "name": "Ngân hàng TMCP An Bình (ABBANK)" },
        { "code": "970438", "name": "Ngân hàng TMCP Bảo Việt (BVB)" },
        { "code": "970449", "name": "Ngân hàng TMCP Bưu Điện Liên Việt (LPB)" },
        { "code": "970415", "name": "Ngân hàng TMCP Công Thương Việt Nam (VIETINBANK)" },
        { "code": "970412", "name": "Ngân hàng TMCP Đại Chúng Việt Nam (PVCOMBANK)" },
        { "code": "970414", "name": "Ngân hàng TMCP Đại Dương (OCEANBANK)" },
        { "code": "970418", "name": "Ngân hàng TMCP Đầu tư và Phát triển Việt Nam (BIDV)" },
        { "code": "970406", "name": "Ngân hàng TMCP Đông Á (DONGABANK)" },
        { "code": "970440", "name": "Ngân hàng TMCP Đông Nam Á (SEABANK)" },
        { "code": "970426", "name": "Ngân hàng TMCP Hàng Hải Việt Nam (MSB)" },
        { "code": "970407", "name": "Ngân hàng TMCP Kỹ thương Việt Nam (TECHCOMBANK)" },
        { "code": "970428", "name": "Ngân hàng TMCP Nam Á (NAMABANK)" },
        { "code": "970436", "name": "Ngân hàng TMCP Ngoại Thương Việt Nam (VIETCOMBANK)" },
        { "code": "970437", "name": "Ngân hàng TMCP Phát Triển Thành Phố Hồ Chí Minh (HDB)" },
        { "code": "970448", "name": "Ngân hàng TMCP Phương Đông (OCB)" },
        { "code": "970422", "name": "Ngân hàng TMCP Quân Đội (MB)" },
        { "code": "970419", "name": "Ngân hàng TMCP Quốc Dân (NCB)" },
        { "code": "970441", "name": "Ngân hàng TMCP Quốc Tế (VIB)" },
        { "code": "970429", "name": "Ngân hàng TMCP Sài Gòn (SCB)" },
        { "code": "970443", "name": "Ngân hàng TMCP Sài Gòn - Hà Nội (SHB)" },
        { "code": "970403", "name": "Ngân hàng TMCP Sài Gòn Thương Tín (SACOMBANK)" },
        { "code": "970423", "name": "Ngân hàng TMCP Tiên Phong (TPBANK)" },
        { "code": "970427", "name": "Ngân hàng TMCP Việt Á (VAB)" },
        { "code": "970432", "name": "Ngân hàng TMCP Việt Nam Thịnh Vương (VPBANK)" },
        { "code": "970433", "name": "Ngân hàng TMCP Việt Nam Thương Tín (VIETBANK)" },
        { "code": "970434", "name": "Ngân hàng TNHH Indovina (INDOVINA)" },
        { "code": "422589", "name": "Ngân hàng TNHH MTV CIMB Việt Nam (CIMB)" },
        { "code": "970442", "name": "Ngân hàng TNHH MTV Hongleong Việt Nam (HONGLEONG)" },
        { "code": "970439", "name": "Ngân hàng TNHH MTV Public Việt Nam (PBVN)" },
        { "code": "970424", "name": "Ngân hàng TNHH MTV Shinhan Việt Nam (SHBVN)" },
        { "code": "970458", "name": "Ngân hàng TNHH MTV United Overseas Bank (UOB)" },
        { "code": "970457", "name": "Ngân hàng Wooribank (WOORIBANK)" }
    ];

    // var retrievedFullData = JSON.parse(localStorage.getItem('fullData'));
    var retrievedFullData = JSON.parse(localStorage.getItem('orderFullData'))[2];
    document.getElementById('coin_value_buy').innerHTML = Intl.NumberFormat().format(retrievedFullData.quantity) + ' <%= coin %>';
    document.getElementById('address_receive').innerHTML = retrievedFullData.receiveAddress;
    document.getElementById('order_id').innerHTML = retrievedFullData.id;
    document.getElementById('order_check_id').innerHTML = retrievedFullData.id;
    document.getElementById('order_link').href = '/search?id=' + retrievedFullData.id;
    document.getElementById('agency_message').innerHTML = retrievedFullData.id;
    document.getElementById('rate').innerHTML = Intl.NumberFormat().format(retrievedFullData.rate);
    document.getElementById('pay_value').innerHTML = Intl.NumberFormat().format(retrievedFullData.amount);
    document.getElementById('agency_number_receive').innerHTML = retrievedFullData.receiveBank.number;
    document.getElementById('agency_name_receive').innerHTML = retrievedFullData.receiveBank.name;
    document.getElementById('phone').innerHTML = JSON.parse(retrievedFullData.contact).phone;
    document.getElementById('email').innerHTML = JSON.parse(retrievedFullData.contact).email;
    document.getElementById('buyer_name').innerHTML = retrievedFullData.buyerName;
    //set countdown    
    // var timer = Math.floor((retrievedFullData.expiryTime - new Date().getTime())/1000);   
    // function myTimer() {
    //     var minus = Math.floor(timer/60);        
    //     var second = timer - (minus * 60); 
    //     document.getElementById('expireTime').innerHTML = minus + ' phút ' + second + ' giây';
    //     timer = timer-1;       
    //     if (timer<0) {
    //         clearInterval(myVar);            
    //     }
    // }    
    // var myVar = setInterval(myTimer, 1000);

    let bankName = listBank.find(value => {
        return value.code == retrievedFullData.receiveBank.bankCode
    })

    document.getElementById('bank_name_receive').innerHTML = bankName.name;

    function addOrderIDToCache() {
        var listOrderChecked = JSON.parse(localStorage.getItem('listOrderChecked'));
        if (listOrderChecked == null) {
            listOrderChecked = [];
        }
        var idExist = false;

        for (let i = 0; i < listOrderChecked.length; i++) {
            if (listOrderChecked[i] == retrievedFullData.id) {
                idExist = true;
            }
        }
        console.log(idExist);
        if (!idExist) {
            console.log("push to list");
            listOrderChecked.push(retrievedFullData.id);
            localStorage.setItem("listOrderChecked", JSON.stringify(listOrderChecked));
        }
    }
    addOrderIDToCache();

</script>